<div class="ui grid">
  <div class="four wide column"></div>

  <div class="eight wide column">
    <h1 class="ui center aligned icon header">
      <i class="grey sign in icon"></i>
      Sign In
    </h1>
  </div>

  <div class="four wide column"></div>
</div>

<div class="ui hidden divider"></div>

<div class="ui grid">
  <div class="column"></div>

  <div class="seven wide column">
    <div class="ui large attached positive message">
      <div class="header">
        Sign In Into Your Account
      </div>
    </div>
    <div class="ui large form attached fluid segment">
      <%= form_tag sessions_path, method: 'post' do %>
        <div class="field">
          <%= text_field_tag :email, params[:email], placeholder: 'Email' %>
        </div>
        <div class="field">
          <%= password_field_tag :password, nil, placeholder: 'Password' %>
        </div>
        <%= submit_tag 'Sign In', data: {disable_with: 'Signing In...'}, class: 'ui large grey button' %>
      <% end %>
    </div>
    <div class="ui large bottom attached warning message">
      <i class="icon help"></i>
      Don't have an account? <a href="<%= new_user_path %>">Sign up here</a>
    </div>
  </div>
  <div class="column">
    <div class="ui vertical divider">Or</div>
  </div>
  <div class="four wide middle aligned column">
    <a href="/auth/facebook">
      <button class="ui large facebook button">
        <i class="facebook icon"></i>
        Sign In with Facebook
      </button>
    </a>
  </div>

  <div class="four wide column"></div>
</div>