<div class="card">
  <a href="<%= event_path(event) %>"><div class="custom_thumbnail" style="background-image: url(<%= event.hero_image_url %>)"></div></a>
  <div class="content">
    <h4 class="header"><%= event.name %></h4>
    <div class="meta">
      <span class="date"><%= event.starts_at.strftime("%b %d, %Y") %></span>
    </div>
    <div class="description">
      <%= fa_icon 'map-marker' %> <span><%= event.venue_name %></span>
      <span class="ui basic label right floated"><%= event.category.name %></span>
    </div>
  </div>
</div>