<div class="ui container">
  <h1 class="ui header"><%= @event.name %></h1>
  <%= fa_icon 'clock-o' %> <%= @event.starts_at.strftime('%A, %d %b %Y %l:%M %p') %><br>
  <%= fa_icon 'map-marker' %> <%= @event.venue.name %><br>
  <%= @event.venue.full_address %>

  <div class="ui divider"></div>

  <div class="ui grid">
    <div class="five wide column">
      <div class="ui card">
        <div class="content">
          <div class="header"><%= @event.name %></div>
        </div>
        <div class="content">
          <%= fa_icon 'clock-o' %> <%= @event.starts_at.strftime('%d %b %Y %l:%M %p') %>
        </div>
        <div class="content">
          <%= fa_icon 'map-marker' %> <%= @event.venue.name %>
        </div>
        <div class="content">
          <%= fa_icon 'ticket' %> From <strong><%= number_to_currency(@event.ticket_types.order(:price).first.price, precision: 0, unit: "VND", delimiter: ",", format: "%n %u") %></strong>
        </div>
        <% unless @event.outdated_event? %>
          <%= link_to 'BOOK NOW', event_tickets_path(@event), class: 'ui red large attached button' %>
        <% else %>
          <button class="ui disabled large attached button">Outdated</button>
        <% end %>
      </div>
      <div class="ui two buttons">
        <% if current_user && current_user.id == @event.user_id %>
          <a href="<%= edit_event_path(id: @event.id) %>"><button class="ui teal large button">Edit</button></a>
          <a href="<%= publish_event_path(id: @event.id) %>" data-method='post'><button class="ui blue large button">Publish</button></a>
        <% end %>
      </div>
    </div>
    <div class="eleven wide column">
      <div class="ui floating message"><%= @event.extended_html_description.html_safe %></div>
    </div>
  </div>

</div>