<div class="container-fluid tickets-buy">
  <div class="row tickets-header">
    <div class="col-xs-12 col-md-11 col-md-offset-1">
      <h3> <%= @event.name %> </h3>
      <div class="pull-left">
        <%= fa_icon 'map-marker' %>
      </div>
      <div class="venue-details">
       <%= @event.venue.name %>
       <br/>
       <%= @event.venue.full_address %>
      </div>

      <div class="pull-left">
        <%= fa_icon 'clock-o' %>
      </div>
      <div class="time-details"> 
        <%= @event.starts_at.strftime('%A, %d %b %Y %l:%M %p') %> 
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-md-offset-1">  
      <table class="table">
        <th> Ticket Type </th>
        <th> Unit Price </th>
        <th> Quantity </th>
        <th></th>

        <% @event.ticket_types.each do |type| %>
          <tr>
            <td><%= type.name %></td>
            <td><%= number_to_currency(type.price, unit: 'VND ', precision: 0) %></td>
            <td><%= select_tag('quantity', options_for_select(0..10)) %></td>
            <% if current_user && current_user.id == @event.user_id %>
              <td><%= link_to 'Delete', event_ticket_path(id: type.id), method: 'delete', data: {confirm: 'Are you sure'}, class: 'btn btn-danger' %></td>
            <% end %>
          </tr>
        <% end %> 
      </table>
      <% if current_user && current_user.id == @event.user_id %>
        <%= form_tag nil, method: 'get' do %>
          <%= hidden_field_tag :event_id, params[:event_id] %>
          <div class="form-inline">
            <%= text_field_tag :name, params[:name], placeholder: 'Name', class: 'form-control' %>
            <%= text_field_tag :price, params[:price], placeholder: 'Price', class: 'form-control' %>
            <%= text_field_tag :max_quantity, params[:max_quantity], placeholder: 'Quantity', class: 'form-control' %>
            <%= submit_tag 'Add', class: 'btn btn-warning' %>
          </div>
        <% end %>
      <% else %>
      <div class="col-md-2 col-md-offset-5">
        <button class="btn btn-success btn-lg btn-block">Buy</button>
      </div>
      <% end %>
      <div class="col-md-2 col-md-offset-5">
        <a href="<%= event_path(id: @event.id) %>"><button class="btn btn-primary btn-lg btn-block">Back</button></a>
      </div>
    </div>
  <div>
</div> 