<div class="ui container">
  <h1 class="ui header"><%= @event.name %></h1>
  <%= fa_icon 'map-marker' %> <%= @event.venue.name %> - <%= @event.venue.full_address %>
  <br>
  <%= fa_icon 'clock-o' %> <%= @event.starts_at.strftime('%A, %d %b %Y %l:%M %p') %>
  <div class="ui hidden divider"></div>

  <div class="ui grid">
    <table class="ui basic table">
      <thead>
        <tr>
          <th>Ticket Type</th>
          <th>Unit Price</th>
          <th>Remain</th>
        </tr>
      </thead>
      <tbody>
        <% @event.ticket_types.each do |type| %>
          <tr>
            <td><%= type.name %></td>
            <td><%= number_to_currency(type.price, unit: 'VND ', precision: 0) %></td>
            <td><%= type.max_quantity %></td>
            <% if current_user && current_user.id == @event.user_id %>
              <td><%= link_to 'Delete', event_ticket_path(id: type.id), method: 'delete', data: {confirm: 'Are you sure'}, class: 'ui red button' %></td>
            <% end %>
          </tr>
        <% end %> 
      </tbody>
    </table>

    <% if current_user && current_user.id == @event.user_id %>
      <%= form_tag nil, method: 'get' do %>
        <div class="ui form">
          <div class="three fields">
            <%= hidden_field_tag :event_id, params[:event_id] %>
            <div class="field"><%= text_field_tag :name, params[:name], placeholder: 'Name' %></div>
            <div class="field"><%= text_field_tag :price, params[:price], placeholder: 'Price' %></div>
            <div class="field"><%= text_field_tag :max_quantity, params[:max_quantity], placeholder: 'Quantity' %></div>
            <%= submit_tag 'Add', class: 'ui green button' %>
          </div>
        </div>
      <% end %>
    <% else %>
      <% if @event.total_quantity == 0 %>
        <button class="ui disabled button">Sold Out</button>
      <% else %>
        <a href="<%= new_event_ticket_order_path %>"><button class="ui large red right floated button">Buy</button></a>
      <% end %>
    <% end %>
    <a href="<%= event_path(id: @event.id) %>"><button class="ui large basic right floated button">Back</button></a> 
  </div>

</div>