<%= form_for [event, ticket_order] do |f| %>
  <% if ticket_order.errors.any?%>
    <%= ticket_order.errors.full_messages.to_sentence %>
  <% end %>
  <div class="form-group">
    <%= f.label :ticket_type_id %>
    <%= f.select :ticket_type_id, event.ticket_types.collect { |t| [t.name, t.id] } , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone, placeholder: 'Phone', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, placeholder: 'Address',placeholder: 'Description', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :quantity %>
    <%= f.text_field :quantity, placeholder: 'Quantity' ,class: 'form-control' %>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-success' %>
<% end %>