<%= form_for [event, ticket_order] do |f| %>
  <% if ticket_order.errors.any?%>
    <%= ticket_order.errors.full_messages.to_sentence %>
  <% end %>
  <div class="field">
    <%= f.label :ticket_type_id %>
    <%= f.select :ticket_type_id, event.ticket_types.collect { |t| [t.name, t.id] } %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'Name' %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone, placeholder: 'Phone' %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, placeholder: 'Address', placeholder: 'Description' %>
  </div>
  <div class="field">
    <%= f.label :quantity %>
    <%= f.text_field :quantity, placeholder: 'Quantity' %>
  </div>
  <%= f.submit 'Submit', class: 'ui green button' %>
<% end %>