<!DOCTYPE html>
<html>
<head>
  <title>Coder Ticket</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-dark bg-inverse">
    <a class="navbar-brand" href="<%= root_path %>">Coder Ticket</a>
    <ul class="nav navbar-nav pull-right">
      <% if current_user %>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_event_path %>">New</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= sign_out_path %>" data-method='delete'>Sign Out</a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_session_path %>">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_user_path %>">Sign Up</a>
        </li>
      <% end %>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
